.wrapper {
    width: 100%;
}

// .timeline-flex {
//     flex: auto;
//     height: 250px;
//     min-width: 150px;
//     margin: 0 8px 8px 0;
// }

#left-sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

#right-content {}

/*Ini CSS Untuk Card Posts*/

/*Ini SCSS Untuk DenyComponent*/
#fullscreen {
    padding-left: 0;
    padding-right: 0;
}

#fullscreen-sm {
    padding-left: 200px;
    padding-right: 0;
}

.konten-kiri {
    width: 200px;
    height: 100%;
}

.konten-sidebar {
    background-color: #434343;
    color: #fff;
    height: 100%;
}

.konten-tambah {
    width: 800px;
    height: 500px;
    color: #fff;
}

#tambah-konten {
    width: 600px;
    height: 300px;
}

.konten-header {}

.konten-isi {
    background-color: #fff;
    height: 800px;
    margin: 10px;
}

.timeline-deny {
    height: 100vh;
}

.paling-bawah {
    padding-top: 1200px;
}

.tengah-bang {
    margin-top: 300px;
}