.wrapper {
    width: 100%;
    align-items: stretch;
}

#left-sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

#right-content {
    margin-top: 70px;
    margin-left: 200px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}