.kiri {
  color: white;
  background-color: grey;
}

.sidebar {
  width: 200px;
  height: 100%;
}

.timeline-ikhsan {
  height: 100vh;
}

.kanan {
  width: 600px;
  height: 300px;
}

.header {
  background-color: #e1e1e1;
}
#fullscreen {
  padding-left: 0;
  padding-right: 0;
}
