#fullscreen {
  padding-left: 0;
  padding-right: 0;
}

#fullscreen-sm {
  padding-right: 0;
}

.div-body {
  font-color: black;
  background-color: white;
  height: 900px;
}

.konten-side {
  width: 200px;
  height: 100vh;
}

.konten-body {
  padding-left: 200px;
}

.konten-bottom {
  margin-top: 600px;
}

// Ini Kodingan Original Sebelumnya
.kiri {
  background-color: white;
}

.sidebar {
  width: 200px;
}

.timeline-ikhsan {
  height: 100vh;
}

.kanan {
  width: 600px;
  height: 300px;
}

.body {
  background-color: #e1e1e1;
  height: 605px;
}

// #fullscreen {
//   padding-left: 0;
//   padding-right: 0;
// }
