#fullscreen {
    padding-left: 0;
    padding-right: 0;
}

#fullscreen-sm {
    padding-right: 0;
}

.div-body {
    background-color: gray;
    height: 900px;
    margin-top: 10px
}

.konten-side {
    width: 200px;
    height: 100vh;
}

.konten-body {
    padding-left: 200px;
    margin-top: 10px;
}

.konten-bottom {
    margin-top: 10px;
}

//.card {
//    width: 1100px;
//    margin: 20px;
//}

.div-header {
    margin-bottom: 10px;
}

// Ini Codingan Original
.row {
    height: 100%;
}

.left-sidebar {
    height: 100vh;
}