.kiri {
    background-color: mediumslateblue;
    border-radius: 10px;
    overflow: hidden;
}

.kanan {
    background-color: mediumturquoise;
    border-radius: 10px;
    overflow: hidden;
}

.footer {

    text-align: center;
}