.timeline-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    gap: 5px;
}